body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color:rgba(0, 0, 0, 0.8);
    
    width:100%;
    display: inline-flex;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;

     
}
.navbar a{
    text-decoration: none;
    color: white;
    padding-left:100px;
    
}
.navbar  img{
    width: 50px;
    height: 50px;
   
    
}


.contenido{
    text-align: center;
    padding: 0;
}
.bigtext{
    font-size: 70px;
}
.midtext{
    font-size: 30px;
}
.nuevo{
    color: red;
    font-size: 16px;
    text-decoration: none;
}
.btncomprar{
    padding: 5px;
    color: white;
    background-color:rgb(0, 113, 227) ;
    border: none;
    border-radius: 10px;
    width: 100px;
}
.linkk{
    color:rgb(0, 113, 227) ;
    text-decoration: none;
    margin-top: 0;
}
.imgprincipal{
    width: 90%;
    margin-top: 100px;
    padding-bottom: 100px;
}
.contenedormulti{
    display:flex;
    padding: 50px;
}
.bigtext2{
    font-size: 50px;
}
.contleft{
    background-color:rgb(242, 242, 242) ;
    margin: 15px;
}
.btncontleft{
    padding: 5px;
    color: white;
    background-color:rgb(0, 113, 227) ;
    border: none;
    border-radius: 10px;
    width: 60px;
    margin-bottom: 100px;
}
.imgcontleft{
    width: 100%;
}
.contright{
    background-color:rgb(242, 242, 242) ;
    margin: 15px;
}
.linkleft{
    
    color:rgb(0, 113, 227) ;
    text-decoration: none;

}
.imgcontright{
    width: 100%;
    margin-top: 80px;
}
footer{
    background-color:rgb(245, 245, 247) ;
    color:rgb(81, 81, 84) ;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer p{
    color:rgb(162, 162, 163) ;
}
footer ul {
    list-style: none;
    color:rgb(81, 81, 84) ;
    padding-left: 0px;
    
}
footer ul li{
    display: inline-block;
    padding-inline: 20px;
    padding-left: 0;
}
footer ul li a{
    color:rgb(81, 81, 84);
    text-decoration: none;
}
/* Colores de fondo de los bloques 
Gris background navbar => rgba(0, 0, 0, 0.8);
Gris background bloques intermedios => rgb(242, 242, 242);
Gris background footer => rgb(245, 245, 247);

 Colores de tipografía 
Tipografía oscura => rgb(29,29,31);
Tipografía footer => rgb(81, 81, 84);

Azul botones y links => rgb(0, 113, 227);*/